@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #171613;
  --white: #fcebcd;
  color: var(--white);
  background-color: var(--black);
  align-items: center;
  text-align: center;
}